
@charset "UTF-8";

/*
BASIC CSS STYLESHEET
This is a basic stylesheet - it does basically everything except say
what goes on the page.  It handles color, size, and even position
of elements.

This is a multi-line comment - different from how it's done in HTML
(because how could it ever be that easy).  The stuff at the very top tells
your browser how it is encoded.

A stylesheet is nothing without an HTML page to use it - see the 'exampleHTML.html'
to see this document in action.

AN EXAMPLE STYLE
A basic style has a name (see below) with the different selections contained
in curly brackets { }.  The styles to be applied are listed by name, followed
by a colon and their parameter(s), and ending in a semicolon.  For example, the
style below changes the <body> tag's background color to black:

	body {
		background-color: #000000;
	}

HTML ELEMENTS
You can define the way all instances of an HTML element look quite easily
using CSS - just list the name of the HTML tag followed by the styles you
want to apply to it!

CLASS
A class is a re-usable style that is applied to various parts across a
page (ie: it gets re-used), for example: section headers.

Classes are defined in CSS with a '.' before their name (ex: .secHeader)

ID
This is intended as a single-use element, for example: a main page title.

IDs are defined with the '#' before their name (ex: #mainTitle)

*/


/* 	BASIC HTML ELEMENTS */
html, body {
	background-color: rgb(0,0,0);				/* change background color for entire document*/
}

h1 {												/* changes all <h1> instances */
	font-family: Arial, Helvetica, sans-serif;		/* define fonts to "degrade gracefully" is not present on user's computer */
	color: black;									/* make text dark-ish gray */
	font-size: 24px;								/* change font size - essentially equivelant to pt measurement in Word, etc */
}

/* ... same as <h1> but for paragraph text */
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000;
	font-size: 1em;									/* fonts can also be measured in 'ems', see note below */
	text-align: left;
}

/*	PX vs EM:
	Fonts measured in px are absolute - their size is based on the browser's resolution.

	Fonts measured in ems are measured against the default size, usually 16px. For example:
		12px = 12/16 = 0.75em
		48px = 48/16 = 3em
		
	Fonts can also be measured in points (pt), picas (pc), inches (in), and centi- and millimeters (cm/mm), 
	though these are not recommended...
*/

/* 	LINKS -- change what they look like, and how they react when hovered over */
a, a:link, a:visited {						/* basic link and one that has been clicked previously */
	color: #F00;
	text-decoration: none;				/* ie: no underline */
}
a:hover, a:active {						/* hover and active are when hovered (duh) or clicked on */
	color: #00F;
	text-decoration: underline;			/* when hovered, underline so we know */
}

/*	links should be clear but not distracting - a tough balance.  I suggest a color difference from
	the regular text but on underline except on rollover.  You can also use the border-bottom property
	to give links a more flexible underline such as dotted or another color, which is nice too. */

/* 	DEFINE A CUSTOM WRAPPER USING CSS AND A <div> tag */
#wrapper {
	width: 900px;						/* width is measured in pixels */
	margin: 20px auto 20px auto;		/* margins are space AROUND something; listed as top, right, bottom, left (see note) */
	background-color: white;			/* separate background color for the div; here we use one of the constant color values */
	padding: 50px;						/* padding is space INSIDE something; this offsets the text so it doesn't hit the edge of the div */
}

/*	NOTE: by setting our margin on L/R as auto, the <div> will float in the center of the screen until resized small
	than the width of the div */

/* 	A DIV INSIDE A DIV -- here we use a class (for demonstration purposes, 
	notice nothing breaks when we do this :) */
.nestedDiv {
	width: 600px;
	margin: 0px auto 0px auto;
  	padding-top: 15px;						/* one direction can be specified separately, if necessary */
	background-color: #000;
  	border: 3px #00FF00 dashed;				/* borders can applied to anything; specify thickness, color, and style (solid, dotted, etc) */
}
.nestedDiv p {								/* only for paragraphs inside the nestedDiv */
	color: rgb(255,255,255) !important;		/* sometimes things don't work quite right - !important means override anything else in favor of this style */
	text-align: center;
}
	