@charset "UTF-8";
/* CSS Document */

html, body {
	background-color: white;	/* even though it's likely the default, better to declare it */
	font-family: Helvetica, Arial, sans-serif;
}

/* MENU LINKS */
/* style list links differently */
li a, li a:link, li a:visited {
	color: black;
	text-decoration: none;
}
li a:active, li a:hover {
	color: white;
	text-decoration: none;
}

/* WRAPPER */
/* this has the usual width and float to center stuff */
#wrapper {
	width: 700px;
	margin: -10px auto 30px auto;		/* the negative direction at the top is to ensure that the top edge hits the top of the window... */
	background-color: rgb(200,150,0);	/* we set the background color to the same as the sidebar so it doesn't hang weirdly */
	
	/* add a cool 'box shadow' */
	/* the parameters are a bit confusing, so see: http://www.css3.info/preview/box-shadow */
	-moz-box-shadow: 0 5px 15px #999;
	-webkit-box-shadow: 0 5px 15px #999;
	box-shadow: 0 5px 15px #999;
}

/* BONUS (added after everything else) */
/* here we add a fixed login at the top */
#login {
	width: 680px;
	position: fixed;
	top: 0px;
	padding: 0 10px 0 10px;
	color: white;
	background-color: rgb(0,0,0);					/* fallback for older browsers */
	background-color: rgba(0,0,0, 0.5);		/* rgba means ALPHA, or transparency */
	
	/* more details at: http://stackoverflow.com/a/4717600 (we could use the CSS opacity, but this would affect the text too!) */
}
#login a, #login a:link, #login:visited {
	color: white;
	text-decoration: none;	
}
#login a:active, #login a:hover {
	color: white;
	text-decoration: underline;
}

/* HEADER */
/* the header will have the site's main title and (later) a horizontal menu */
#header {
	background-color: rgb(220,170,0);
	padding: 20px;
}
#header h1 a, #header h1 a:link, #header h1 a:visited {
	color: #000;
	text-decoration: none;
}
#header h1 a:active, #header h1 a:hover {
	color: #FFF;
	text-decoration: none;
}

/* advanced: a horizontal menu using unordered list */
#header ul {
	margin-bottom: -10px;  /* squish the menu down to the bottom */
	margin-left: -40px;	/* a hack to get the menu to align with the headline text */
}
#header li {
	display: inline;		/* this makes the list horizontal */
	list-style: none;	  /* again, no bullets */
	padding: 10px;			/* space in between */
	border-right: 1px solid white;
	margin-right: -4px;
}

/* a neat trick: this allows us to put the border on the left of the first <li> only */
/* NOTE: this is not super well-supported in older browsers :( */
#header li:first-child {	/* this is called a 'selector' in CSS */
	border-left: 1px solid white;
}

/* SIDEBAR */
/* the sidebar can go on the L or R side and usually has a menu and/or meta info */
#sidebar {
	float: left;
	width: 200px;
	background-color: rgb(200,150,0);
	padding: 20px;
}

/* format lists for menu ONLY in the sidebar */
#sidebar ul {
	border-top: 1px solid white;
}
#sidebar li {
	margin-left: -40px;
	list-style: none;
	padding: 8px;
	background-color: rgb(180,120,0);
	border-bottom: 1px solid white;
}

/* MAIN CONTENT */
/* this is where your main stuff would go, be it an article, a video, or a product */
#content {
	float: left;												/* also float left so it goes next to the sidebar */
	width: 420px;												/* this should be the wrapper minus sidebar and padding on both */
	background-color: rgb(180,120,0);
	padding: 20px;
}

/* FOOTER */
/* the footer sits at the bottom */
#footer {
	clear: both;					/* this clears the formatting from the sidebar/content - not having this will cause weird problems */
	background-color: rgb(220,170,0);
	padding: 20px;
}