/* css reset */
		  
html, body {
	background-color: rgb(255,255,255);
	font-family: Helvetica, Arial, sans-serif;
}

.clear {
	clear: both;
}

/* WRAPPER */
#wrapper {
	width: 700px;												/* or in %: 70% */
	margin: -22px auto 30px auto;				/* top, right, bottom, left */
	background-color: rgb(255,150,255);
	
	/* box-shadow */
	/*  skeumorphism - design things to look like other things
		  "flat" design */
	-moz-box-shadow: 0 5px 15px rgb(200,200,200);
	-webkit-box-shadow: 0 5px 15px rgb(200,200,200);
	box-shadow: 0 5px 15px rgb(200,200,200);
}

/* LOGIN */
#login {
	width: 680px;;
	background-color: rgb(0,0,0);				/* default color */
	background-color: rgba(0,0,0, 0.5);	/* a = alpha */
	color: white;
	padding: 10px;
	position: fixed;
	top: 0;
}


/* HEADER */
#header {
	clear: both;
	background-color: rgb(255,255,150);
	padding: 20px;	/* 1 value applies to all 4 directions */
	margin-top: 50px;
}

#mainLogo {
	width: 100px;
	float: left;
}

#header h1 a, #header h1 a:link, #header h1 a:visited {
	float: left;
	color: rgb(0,0,0);
	text-decoration: none;
}
#header h1 a:active, #header h1 a:hover {
	color: rgb(255,255,255);
	text-decoration: none;
}
#header ul {
	margin-left: -40px;
	margin-bottom: -10px;
}
#header li {
	list-style: none;
	display: inline;
	padding: 10px;
	border-right: 1px solid rgb(0,0,0);
}
/* css selector */
#header li:first-child {		/* selects first li element in the list */
	border-left: 1px solid rgb(0,0,0);
}

/* SIDEBAR */
#sidebar {
	float: left;
	width: 200px;
	background-color: rgb(255,150,255);
	padding: 20px;
}
#sidebar ul {
	border-top: 1px solid rgb(255,255,255);
}
#sidebar li {
	list-style: none;
	margin-left: -40px;
	padding: 8px;
	background-color: rgb(180,120,200);
	border-bottom: 1px solid rgb(255,255,255);
}
#sidebar li:hover {
	background-color: rgb(220,210,255);
}

/* CONTENT */
#content {
	float: left;
	width: 420px;
	background-color: rgb(255,200,200);
	padding: 20px;
}

/* FOOTER */
#footer {
	
	background-color: rgb(150,255,255);
	padding: 20px;
}



















